* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

.img-voda {
    width: 300px;
    height: 200px;
    background-image: url(img/tokyo.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center left;
}

.img-tokyo:hover {
    background-size: 100%;
}