:root {
        --text-color: #ddd;
     }
     .section-one {
            --text-size: 14px;
         }
         .section-one p {
               font-size: var(--text-size);
             }
             .section-two p {
                    font-size: var(--text-size);
                }
                
                
                
                /*.section-one {
                    --test: 10px;
                }
            
                .section-two {
                    --test: 20px;
                }
            */
     