* {
    margin: 0;
    padding: 0;
}

/* Example 1 */

.img-test {
    width: 500px;
    height: 500px;
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;

}

.img-test:hover {
    background-image: url("img/tokyo.jpg");

}

.button-test {
    display: block;
    width: 128px;
    height: 60px;
    padding-left: 20px;
    background-color: lightblue;
    font-size: 20px;
    font-family: arial;
    font-weight: 600;
    color: #222;
    line-height: 60px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;

    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition: all 0.5 ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.button-test:hover {
    width: 170px;
    height: 300px;
    padding-left: 500px;
    background-color: red;
}

.button-test span {
    padding-left: 30px;
    color: white;
    font-weight: 500;
}