{
        margin: 0;
        padding: 0;
    }
    
    .move-me {
        width: 100%;
        height: 100px;
        background-color: blue;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px; 
    }
    
    .section-1 {
        width: 100%;
        height: 400px;
        background-color: #ccc;
        padding-top: 100px;    
    }
    
    .section-2 {
        width: 50%;
        height: 1400px;
        background-color: #aaa;