*{
    margin:0;
    padding:0;
}
.warpper{
    with:100%;

}
.img-banner{
    display:none;

}
.img-inf
width:100%;
}
.img-info h2{
    padding:20px 0px 0px;
    font-family:arial;
    font-size : 16px;
    color:#111;
    line-height: 24px;
}
.img-info p{
    padding:0px 30px 20px;
    font-family:arial;
    font-size : 16px;
    color:#111;
    line-height: 24px;
}
}
.img-car{
    width:100%;

}
@media only screen and (min-width:768px ){
    .img-banner{
        display:    block;
         width:100%;
         padding-bottom:30px;
    }
    .warpper{
        width:600px;
        margin:0 auto;
    }
    .img-info h2{
        padding:20px 0px 0px;
    }
    .img-info p{
        padding:20px 0px 0px 30px;
    }
    }
    .img-car
    padding-top:30px;
}

}
@media only screen and (min-width:1000px ){
    .warpper{
        width:600px;
   
    }
    .img-info{
        width:50%;
        float:right;
    } 
    .img-me{
        padding-top:0px;
        width:50%;
        flaot:left;
    }
}