html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;  
   border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
   vertical-align:middle;
}

body {
    background-color: #f3f3f3;
}

* {
    text-decoration: none;
}

+main {
    padding-top: 100px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header .header-brand {
   font-family: 'Catamaran', sans-serif;
   font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display:block;
    padding: 25px;
    text-align: center;
    padding-top: 20px 0;
    text-decoration: none;
}

header nav ul {
    display:block;
    margin: 0 auto;
    width: fit-content;

}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    color: #111;
    text-decoration: none;

}

header nav ul li a:hover {
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    color: red;
   text-decoration: none;

}

header .header-cases {
    display:none;

}

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("img/Dog.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.index-banner h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
    font-family: Cormorant Garamond;
    font-size: 28px;
    font-weight: 100;
    font-style: italic; 
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
}

.index-links div h3 {
    font-family: Cormorant Garamond;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: red;
    text-align: center;
    text-transform: uppercase;
}

.index-links a {
    text-decoration: none;
}

.index-boxlink-square:hover {
    color:darkgray;

}

.index-boxlink-rectangle:hover {
    color:darkgray;

}

footer {
   width: calc(100% - 80px);
    padding: 90px 40px;
    background-color: #111;
    height:50px;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    font-family: 'Catamaran', sans-serif;
    color: green;
    text-decoration: none;
}

.gallery-links-h2 {
    font-family:Catamaran;
   font-size: 28px;
  font-weight: 600;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

.gallery-links {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery-img {
    flex-basis: 23%;
    margin: 10px;
}

.gallery-img img {
    width: 100%;
}