*{
    margin:0;
    padding:0;
}
.container{
    width:100%;
    height:500px;
    backgorund-color: #ccc;

    display: flex;
    felx-flow:row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;

}
.item1{
    background-color: red;
    flex-basis: 30%;
}
.item2{
    background-color: green;
flex: 0 1 100px;
}
